@font-face {
    font-family: "Fira Code v2";
    src: url("/FiraCode-Regular.ttf");
}

body {
    padding: 0;
    margin: 0;
    background: #000;
    font-family: "Fira Code v2", monospace;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;
    margin: 0;
    flex-direction: row-reverse;
}

code, #snippet {
    margin: 0;
    font-family: "Fira Code v2", monospace;
    font-size: 10pt;
}

.loc, #snippet {
    width: 100%;
    white-space: pre-wrap;
    word-wrap: normal;
    display: inline-block;
    word-break: normal;
}

.controls {
    flex: 1;
}

.content {
    flex: 10;
    max-height: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
}

.textarea {
    display: block;
    outline: 0px solid transparent;
    background: #000;
    height: 100%;
    width: 100%;
    padding: 3em;
    overflow-x: auto;
    overflow-y: auto;
    color: #EEE;
    border: none;
    resize: none;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

table {
    border-collapse: collapse;
    border: none;
}

td {
    color: #EEE;
    padding: 0.1em;
    padding-left: 0.5em;
}

td.line-number {
    text-align: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 9pt;
    vertical-align: top;
    padding-right: 10px;
}

.code-row:target {
   background-color: #e52a5736;
}

td.line-number:hover {
    background: #e52a5736;
    cursor: pointer;
}

td.line-number::before {
    content: attr(data-line-number);
}

.submit {
    text-align: left;
    text-decoration: none;
    /*font-size: 0.8em;*/
    color: #EEE;
    background: transparent;
    border: none;
    font-family: "Fira Code v2", monospace;
    padding: 0;
}

.submit:hover {
    cursor: pointer;
}

footer {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    min-height: 30px;
    height: 3vh;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100);
    backdrop-filter: blur(5px);
}

.footer-text {
    color: #AAA;
    margin: 0 0.5em;
}

.footer-text a {
    color: #AAA;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0.5em;
}

.footer-keybindings {
    margin-right: auto;
    color: #EEE;
    margin-left: 1.5em;
}

.submit:active {
    background: #e52a5773;
}

.submit:focus {
    outline: none;
}

@media screen and (max-width: 720px) {
    .textarea {
        padding: 0.5em;
    }

    .loc, #snippet {
        white-space: pre;
    }

    .controls {
        flex: 1;
    }

    .content {
        flex: 5;
        height: 100%;
    }

    footer {
        height: 5vh;
    }

    .footer-keybindings {
        margin-left: auto;
    }

    .submit {
        padding: 10px;
    }

    .footer-text {
        display: none;
    }
}
